/* BODY */
li {
  list-style-type: none;
}

button {
  color: #fff;
  width: 25%;
  height: 5%;
  align-self: center;
  background-color: rgba(23, 10, 143, 0.53);
  border-radius: 3px;
  border: 0 none;
  margin-bottom: 10px;
}

body {
  height: 100%;
  background: url("./assets/background.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/* DECK CONTAINERS */

.deck-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.player-hand-container {
  flex: 1;
  display: block;
  text-align: center;
}

.middle-deck-container {
  flex: 1;
  text-align: center;
}

/* DECKS */


.middle-deck {
  height: 55%;
  width: 60%;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(107, 245, 130, 0.66);
}

.player-hand {
  height: 55%;
  width: 60%;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(107, 245, 130, 0.66);
}

.player-2 {
  box-shadow: 0px 0px 5px 5px rgba(162, 107, 245, 0.66);
}

.player-name {
  color: #fff;
}

/* RULES AND CONTROLS */

.rules-controls-view {
  background-color: rgba(23, 10, 143, 0.53);
  margin: 0px 10% 0px 10%;
}

.rules, .controls {
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  list-style-image: url("./assets/bullet-pyramid.gif");
  list-style-position: inside;
}

.rule, .control {
  font-size: 1.2em;
  font-weight: lighter;
}

/* MISC */

.slap-message {
  color: #fff;
  text-align: center;
  margin: 50px 0px -50px 0px;
}

.hidden {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}
